body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  display: flex;
  justify-content: center;
  width: 100vw; 
  height: 100vh;
  margin: auto;
  font-family: 'ABeeZee';
}

#main {
  margin: auto;
  text-align: center;
  color: white;
}

#profile-picture {
  height: 200px;
  border-radius: 100%;
  border: solid white 5px;
}

#city {
  margin-top: -10px;
  font-size: 17px;
  font-weight: lighter;
}
